@model Music_Portal.Models.Style

@{
    ViewData["Title"] = "Create";
}
<div style="text-align: center;">
    <div style="margin: 0 auto; background-color: darkgray;border-radius: 10px;padding: 20px;display: inline-block;width: auto;">
        <h1>Create</h1>

        <h4>Style</h4>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateStyle">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="width:320px">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:320px">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="DetailsStyle">Back to List</a>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
